/* Main page css */
html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

/*Header and footer css*/
header {
    text-align: center;
    height: 70px;
    background-color: #505050;
    margin: 0px;
}

header > h1 {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    color: #fff;
    background-color: #505050;
}

footer > h2 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

/* Game Area Div */
#game-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.choice-button {
    display: inline-block;
    width: 15%;
    height: 40px;
    margin-bottom: 25px;
}

#player-choice {
    float: left;
    width: 40%;
    background-color: green;
}

#computer-choice {
    float: right;
    width: 40%;
    background-color: red;
}